@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    /* --primario: #2196f3; */
    
    --primario:#e41c6f;
  }
  
  
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    scroll-behavior: smooth ;
}

section{
    padding: 6.25rem;
}

.banner {
    position:relative;
    min-height: 100vh;
    background: url(../img/cuatro.jpeg);
   
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items:center;

   
}



.banner .cajaTexto h2 {
   
    font-size: 3em;
    color:#fff;
    font-weight:500;
    line-height: 1.5em;
   
}

.banner h3{
    font-size: 1.em;
    color:#fff;
    font-weight:500;

}



.btn{
    position: relative;
    background:var(--primario);
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    Letter-spacing:2px;
    font-weight: 500;
    


}

header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 40px 100px;
    z-index:1000;
    display:flex;
    justify-content: space-between;
    align-items:center;
    transition: 0.5s;
}
header.sticky{
    background: #fff;
    padding-right:20px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1)
}

header .logo{
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}

header.sticky .logo {

    color:#111;

}

header ul {
    position:relative;
    display: flex;
}

header ul li 
{
    position: relative;
    list-style: none;
}

header ul li a {
    position:relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}

header.sticky ul li a{
    color:#111;

}




.encabezado {

    width:100%;
    text-align: center;
    margin-bottom:30px;
    color:#111;


}


.encabezado h2{
     position:relative;
    font-weight:600;
    font-size:30px;

}

.encabezado h2::before {
    content: '';
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    bottom: -10px;
    width:60px;
    height: 4px;
    background:var(--primario);
}
.encabezado p{
    max-width: 700%;
    display:inline-block;
    margin-top:1.5rem;
}
.contenido{
    display:flex;
    justify-content: space-between;
}

.contenidoCaja{
    padding-right:30px;
}

.contenidoCaja h3 {
    font-size:24px;
    margin-bottom:10px;
}

.w50{

    min-width: 50%;

}

.w50 .img {
    max-width: 80%;

}

.servicios{

    background:#111;
}

.encabezado.blanco {
    color:#fff;

}

/* sobre mi */
:root {
    /* --primario: #2196f3; */
    
    --primario:#e41c6f;
    --blanco: #fff;
    --default-transition-time: 0.4s;
  }
  

.cont-sobre-mi{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    
    
}

.foto-sobre-mi  {
        width:250px;
        height:250px;
        max-width:600px
}

.borde-foto{
    border:10px solid var(--primario);

}

.borde-foto,
.redondeada {
    border-radius: 50%;
    width:100%;
    height:100%;
}


.cont-sobre-mi .sobre-mi-texto-caja{
    max-width:600px;
    text-align:center;
    padding-top:15px;
}


.button-sobre-mi{
    position:relative;
    overflow: hidden;
    height:40px;
    background-color: transparent;
    border: 2px solid var(--primario);
    padding: 20px 50px;
    outline:none;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:15px;
    font-weight: bold;
    text-transform:uppercase;
    text-decoration:none;
    color: var(--primario);

    transition: var(--default-transition-time) background-color;

}


.button-sobre-mi:after {
    content:'';
    position: absolute;
    left:-200px;
    width:80px;
    height:300%;
    background-color: linear-gradient(rgba(255,255,255,0) 50%,rgba(255,255,255,1),
     rgba(255,255,255,0) , 100%);
    opacity:0.4;
    transform: rotate(30deg);
    transition: var(--default-transition-time) all;
    }


    .button-sobre-mi:hover{
        background-color: var(--primario);
        color: var(--blanco);
        transition: var(--default-transition-time)
    }

    .button-sobre-mi:hover:after {
        left: calc(100% + 200px);
    }

.cont-sobre-mi .boton-sobremi-contenedor {
    padding-top:30px;
}

.contenedor-social{
    padding-top: 100px;
    position:relative;
}
.contenedor-social ul {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: flex;
}


.contenedor-social ul li {


    list-style: none;
    margin: 0 10px;
}

.contenedor-social ul li .fab {

    color: var(--primario);
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}


.contenedor-social ul li .fab:hover {
    color: var(--blanco);
}


.contenedor-social ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}

.contenedor-social ul li a:hover{
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}


.contenedor-social ul li:nth-child(1) a:hover{
    background-color: var(--primario);
  
}

.contenedor-social ul li:nth-child(2) a:hover{
    background-color: var(--primario);
  
}

.contenedor-social ul li:nth-child(3) a:hover{
    background-color: var(--primario);
  
}
.contenedor-social ul li:nth-child(4) a:hover{
    background-color: var(--primario);
  
}


.contenedor-social ul li:nth-child(5) a:hover{
    background-color: var(--primario);
  
}

/* sobre mi */


.servicios  .contenido {
    /* display:flex;
    justify-content: center;
    flex-wrap:wrap;
    flex-direction:row; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.servicios .contenido .ServiciosCaja{
    padding: 40px 20px;
    background: #222;
    color:#fff;
    /* max-width: 340px; */
    margin: 20px;
    text-align: center;
    transition:0.5s;
}

.servicios .contenido .ServiciosCaja:hover{
    background: var(--primario);
}

.servicios .contenido .ServiciosCaja img {
    max-width: 80px;
    filter: invert(1);
    
}

.svg-icon {
    color:#fff;
    max-width:80px;
}
.servicios .contenido .ServiciosCaja h2 {
    font-size: 20px;
    font-weight:600;
}
/* .proyectos .contenido{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

} */

.proyectos .contenido{
   display:flex;
   justify-content:center;
   flex-direction:row;
   flex-wrap:wrap;

}

.proyectos .contenido .cajaProyectos {
    position: relative;
    width: 500px;
    height:350px;
    margin:20px;
    transition:0.5s;
    text-align:center;
}

.proyectos .contenido .cajaProyectos .caja-foto,
.proyectos .contenido .cajaProyectos .textCajaProyectos
{

   
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
  
}

.proyectos .contenido .cajaProyectos .caja-foto img {
    max-width: 500px;
      
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    object-fit:cover;
}

.proyectos .contenido .cajaProyectos .textCajaProyectos{
    background: #000;
    opacity:0;
    transition:0.5s;
}

.proyectos .contenido .cajaProyectos:hover .textCajaProyectos{
    opacity:0.8;
}


.proyectos .contenido .cajaProyectos:hover .textCajaProyectos h3 {
    color: #fff;
    text-transform:uppercase;
    letter-spacing:1px ;
}

.proyectos  .vermas {
    display:flex;
    justify-content: center;
}


.textCajaProyectos a {
    text-decoration:none;
}
.testimonial {
    background: #f7f7f7
}
.testimonial.contenido {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;

}
.testimonial .contenido .testimonialCaja{
    min-width: calc(50%-40px);
    padding: 60px 40px;
    margin: 20px;
    background:var(--primario);
}

.testimonial .contenido .testimonialCaja p {
    color:#fff;
    font-style: italic;
    font-size: 16px;
    font-weight:300;

}

.testimonial .contenido .testimonialCaja h3 {
    margin-top: 40px;
    text-align: end;
    color: #fff;
    font-weight:600;
    font-size:20px;
    line-height: 1em;



}
.testimonial .contenido .testimonialCaja h3 span {
    font-size: 14px;
    font-weight: 40;
}
.icon-contacto {
    width:0.1rem;
}

.contacto{
    background: #111;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.contacto .encabezado{
    color: #fff;
}

.contacto .formularioContacto{
    position:relative;
    width: 700px;
    margin-top: 20px;
}

.contacto .formularioContacto .fila {
    width:100%;
    display:flex;

}

.contacto .formularioContacto .fila .col50{
    width: 50%;
    margin:10px;
}

.contacto .formularioContacto .fila .col100{
    width: 100%;
    margin:10px;
    text-align:center;
}

.contacto .formularioContacto .fila input,
.contacto .formularioContacto .fila textarea {
    width: 100%;
    padding:10px;
    border:none;
    outline: none;
    background: rgb(29, 29, 29);
    color: #fff;
    font-size: 16px;
    resize:none;
}

.contacto .formularioContacto .fila textarea {
    height: 100px;
}

.contacto .formularioContacto .fila input[type="submit"]{
    background: var(--primario);
    color:#fff;
    padding: 10px 30px;
    display:inline-block;
    font-weight:500;
    letter-spacing: 2px;
    cursor:pointer;
    max-width: 150px;
}


/* 
.formCaja {
    min-width:60%;
}

.formCaja form{
    display: flex;
    flex-direction: column;
}

.formCaja form h3,
.contentInfo h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;

}

.formCaja form input,
.formCaja form textarea
 {
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    background: transparent;
    border:none;
    outline: none;
    background: #222;
    color: #fff;
    resize:none;


}
.formCaja form textarea {
    min-height:200px;
}

.formCaja form input::placeholder,
.formCaja form input::placeholder{
    color: #999;
}

.formCaja form input[type="submit"]{
    max-width: 100px;
    background: #2196f3;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px ;
}

.contentInfo{
    min-width:40%;
}

.contentInfo {
    position: relative;
}

 .contentInfo .caja {
    position: relative;
    padding: 20px 0;
    display:flex;
} 

.contentInfo .caja .icon-contacto {
    min-width: 25px;
    padding-top: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
}

.contentInfo .caja .texto {
    display:flex;
    margin-left: 20px;
    font-size:16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.contentInfo .caja .texto  h3 {
    font-weight: 500;
    color: #2196f3;
    margin-bottom:0;
} */
/* responsive */

@media (max-width: 991px)
{
    header,
    header .sticky {
        padding: 20px 50px;
        z-index: 1000;
    }

    .menu {
        position:fixed;
        top: 75px;
        left: -100%;
        display:block;
        padding: 100px 50px;
        text-align:center;
        width: 100%;
        height: 100vh;
        background: #fff;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0,0,0,0.2);
    }

    .menu.active{

        left: 0;

    }

    header ul li a {
        color: #111;
        color: 24px;
        margin: 10px;
    }

    .toggle {
        width: 40px;
        height: 40px;
        background: url(../img/menu.png);
        background-position:center;
        background-repeat: no-repeat;
        background-size:30px;
        cursor:pointer;
      
        

    }

    .toggle.active{
        background: url(../img/close.png);
        background-position:center;
        background-repeat: no-repeat;
        background-size:30px;
        cursor:pointer;

    }

    header.sticky .toggle {
        filter: invert(1);
    }


    section {
        padding: 100px 50px;
    }


    .banner {
        padding: 150px 50px 100px;
    }
    
    .banner h2 {
        font-size: 2.5em;
    }
    
    .banner h3 {
        font-size: 1em;
    }

    .btn {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;

    }
    .heading h2 {
        font-size: 24px;
    }

    .contenidoCaja h3 {
        font-size: 20px;
    }

    .contenido{
        flex-direction: column;
    }

    .w50{
        margin-bottom: 20px;
    }

    .servicios .contenido .ServiciosCaja {
        margin:10px;
    }

    .servicios  .contenido {
        /* display:flex;
        justify-content: center;
        flex-wrap:wrap;
        flex-direction:row; */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    
    }

    .testimonial .contenido .testimonialCaja{
        max-width: calc(100% - 20px);
        padding: 40px 20px;
        margin: 10px;
        background: var(--primario);
    }

    .testimonial .contenido .testimonialCaja h3 {
        margin-top:20px;
    }

    .contentInfo{
      
        margin: 20px 0;
    }


    .contacto .formularioContacto{
        width:100%;

    }

    .formularioContacto .fila {
        width:100%;
        display: flex;
        flex-wrap:wrap;

    }
    .contacto .formularioContacto .fila .col50{
        width:100%;
        
    }
}

@media (max-width:600px) {
    
  .copyright {
    width: 70%;
  }
    
    header,
    header .sticky {
        padding: 20px 50px;
    
    }

    .banner {
        padding: 150px 20px 100px;
    }

    section {
        padding: 100px 20px;
    }


}

 
.skills-section{
   
    background: #ccc;
    }
    
    .skills-header{
    text-align: center;
    color: #fff;
    padding: 1rem;
    position: relative;
    }
    
    .skills-header:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
    background-color: --var(primario);
    border-radius: 2px;
    }
    
    .skills-container{
    display: grid;
    grid-tempLate-columns: repeat(3, 1fr);
    justify-content:center;
    align-items:center;
    text-align: center;
    grid-gap:1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
   
    }
    .skills-box{
    padding: 1rem;
    color: #000;
    cursor:pointer;
    }
    .skills-box:hover > .skills-title:after, 
    .skills-box:hover > .skills-title:before{
    width: 30px;
    }
    .skills-box:hover .skills-img{
    transform: translateX(-20px);
    }
    
    .skills-title{
    display:flex;
    flex-direction: column;
    align-items:center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
    }
    
    .skills-title:after{
    content: '';
    position:absolute;
    bottom: 0;
    right: 50%;
    width:20px;
    height:4px;
    border-radius: 2px 0 0 2px;
    background-color: var(--primario);
    transition: .5s;
    }
    
    .skills-title:before{
    content: '';
    position:absolute;
    bottom: 0;
    left: 50%;
    width:100px;
    height:4px;
    border-radius: 0 2px 2px 0;
    background-color: (--primario);
    }
    
    .skills-icons{
    width:50px;
    z-index:2;
    }
    
    .skills-img{
    width:90px;
    height:90px;
    position: relative;
    border-radius: 45px;
    background-color: #fff;
    display:flex;
    justify-content:center;
    align-items:center;
    transition: .5s;
    }
    
    .skills-img:after{
    content: '';
    position:absolute;
    top:0;
    left: 0;
    width:50%;
    height:90px;
    background: rgba(100, 100, 100, 0.5);
    border-radius: 45px 0 0 45px;
    }
    .skills-title h3{
    color: #333;
    margin-top: 0.5rem;
    }
    @media screen and (max-width:990px){
     .skills-container{
     grid-tempLate-columns: repeat(2, 1fr);
     padding: 2rem 50px;
     }
    }
    
    @media screen and (max-width:650px){
     .skills-container{
     grid-tempLate-columns:2fr;
     padding: 2rem 50px;
     }
    }